:root {
    --primary-text: #ffffff;
    --secondary-text: #000000;
    --primary-bg: #cec3b0;
    --secondary-bg: #000000;
    --nav-bg: #101010;
    --primary-font-family: 'Courier Prime', serif;
    --secondary-font-family: 'Nunito Sans', sans-serif;
  }

body {
    background-color: var(--primary-bg);
    font-family: var(--primary-font-family);
    color: var(--secondary-text);
    margin: 10px;
}

.errorcontain {
  text-align: center;
}

.loom {
  background-color: #202020;
  width: 100%;
  padding: 10px;
  color: var(--primary-text);
  border: none;
  border-radius: 5px;
  box-shadow: 3px;
}

.loomfoot {
  text-align: center;
}