:root {
  --primary-text: #ffffff;
  --secondary-text: #000000;
  --primary-bg: #cec3b0;
  --secondary-bg: #000000;
  --nav-bg: #202020;
  --primary-font-family: 'Courier Prime', serif;
  --secondary-font-family: 'Nunito Sans', sans-serif;
}

.App {
  text-align: center;
  font-family: var(--primary-font-family);
}

.TopNav {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
}

.RightNav {
  text-align: right;
  padding: .75rem;
}

.ConnectBtn {
  border-radius: 10px;
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  font-family: var(--primary-font-family);
}

.MainSidebar  {
  background-color: var(--nav-bg);
  color: var(--primary-text);
  text-shadow: 1px;
}

.SidebarButton:hover {
  color: #cec3b0;
}
